@using System.Text.Json
@model List<Category>
@{
    var jsonString = JsonSerializer.Serialize(Model);
}

<h1 class="text-center">CATEGORIES</h1>
<div>
    <div class="row">
        <a asp-controller="Category" asp-action="Create" class="btn btn-secondary mb-3">
            <i class="bi bi-plus-circle"></i> Create New Category
        </a>
    </div>
    <table class="table table-striped">
        <partial name=".\DeleteCategoryModal\Delete_Category_Modal.cshtml" />
        <thead>
            <tr>
                <bold>Category Name</bold>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.OrderBy(u => u.Name))
            {
                // dynamically create ID's for elements below
                var displayName = "displayName" + @obj.Id;
                
                <tr id=@displayName>
                    <td> @obj.Name</td>
                    <!--Edit name form-->
                    <td style="display: none;"></td>
                  
                    <!--BUTTONS - edit and delete-->
                    <td>
                        <fieldset class="btn-group">
                             <button onclick="EditCategoryModal.anchorModal(@obj.Id)" class="w-75  btn btn-primary mx-2">
                                <i class="bi bi-pencil"></i> Edit
                            </button>
                            <button class="w-75 btn btn-primary mx-2" onclick="DeleteCategoryModal.check_If_Expenses_Exists(@obj.Id,'@obj.Name')">
                                <i class="bi bi-trash"></i> Remove
                            </button>
                        </fieldset>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

<partial name=".\EditCategoryModal\EditCategoryModal.cshtml" />
<partial name=".\DeleteCategoryModal\Script_Delete_Category_Modal.cshtml" model="@jsonString"/>
<partial name=".\EditCategoryModal\Script_Edit_Category_Modal.cshtml" />

