@model createExpenseForm
@{
    var exp = ViewData["expenses"] as List<Expenses>;
}
<table class="table table-striped border border-solid border-2 border-primary">
        <thead class="border border-3 border-secondary">
            <tr class="row text-light">
                <td class="col-3 text-center">Expense<i class="bi bi-tag"></i></td>
                <td class="col-3 text-center">Amount  <i class="bi bi-cash"></i></td>
                <td class="col-3 text-center">Date    <i class="bi bi-calendar-date"></i></td>
                <td class="col-3 text-center ">Description<i class="bi bi-chat-dots"></i></td>
            </tr>
        </thead>
        <tbody>
            <tr class="row">
                <td class="col-3 text-center">Food</td>
                <td class="col-3 text-center">$14.04</td>
                <td class="col-3 text-center">12.4.23</td>
                <td class="col-3 text-center">Time to get shit</td>
            </tr>
            @* @foreach(var obj in Model.expenses){
    using System.ComponentModel.DataAnnotations.Schema;
                <tr class="row">
                <td class="col-3 text-center">@obj.category.Name</td>
                <td class="col-3 text-center">$@obj.Amount </td>
                <td class="col-3 text-center">@obj.Date</td>
                <td class="col-3 text-center">@obj.Description</td>
            </tr>
            } *@
            @foreach(var obj in exp){
                <tr class="row">
                <td class="col-3 text-center">@obj.category.Name</td>
                <td class="col-3 text-center">$@obj.Amount </td>
                <td class="col-3 text-center">@obj.Date</td>
                <td class="col-3 text-center">@obj.Description</td>
            </tr>
            }
            <tr class="row"><td><hr/></td></tr>
            <tr><td><button id="week1CreateExpenseButton" class="btn btn-secondary">
                <i class="bi bi-plus-circle"></i> New</button></td></tr>
        </tbody>
    </table>