@model DisplayExpenses
@{
    float weeklyTotal = 0;
}
<table class="table table-striped border border-solid border-2 border-primary">
    <!--DROPDOWN CARET BUTTON, FUNCTION DEFINED BELOW IN SCRIPT-->
    <a id="@Model.uniqueIdName" class="btn btn-outline-primary 
                  offset-11 d-flex 
                  justify-content-center 
                  customCaret">
        <i class="bi bi-caret-down-square ">
        </i>
    </a>
    <thead class="border border-3 border-secondary">
        <tr class="row text-light">
            <td class="col-3 text-center">Expense<i class="bi bi-tag"></i></td>
            <td class="col-3 text-center">Amount <i class="bi bi-cash"></i></td>
            <td class="col-3 text-center">Date <i class="bi bi-calendar-date"></i></td>
            <td class="col-3 text-center ">Description<i class="bi bi-chat-dots"></i></td>
        </tr>
    </thead>
    <tbody>
        @* @foreach(var obj in Model.expenses){
        using System.ComponentModel.DataAnnotations.Schema;
        <tr class="row">
        <td class="col-3 text-center">@obj.category.Name</td>
        using Microsoft.AspNetCore.Mvc.TagHelpers;
        <td class="col-3 text-center">$@obj.Amount </td>
        <td class="col-3 text-center">@obj.Date</td>
        <td class="col-3 text-center">@obj.Description</td>
        </tr>
        } *@
        <tr class=@Model.uniqueClassNameStart></tr>
        @foreach (var obj in Model.expenses)
        {
            var expense_id = "expense"+@obj.Id;
            var expense_edit_delete_id = "expense_table_edit_and_delete_elements_" + @obj.Id;

            <tr  id=@expense_id class="row" onclick="toggle_edit_delete_expense(@obj.Id,false)">
                <td class="col-3 text-center">@obj.category.Name</td>
                <td class="col-3 text-center ">@obj.Currency @obj.Amount </td>
                <td class="col-3 text-center">@obj.Date</td>
                <td class="col-3 text-center">@obj.Description</td>
            </tr>
            <tr id=@expense_edit_delete_id class="row expense-table-row" hidden>
                <td class="col-2 expense-table-icons"><span class="bi bi-pencil rounded-5 btn-dark"></span></td>
                <td class="col-2 expense-table-icons"><span class="bi bi-trash rounded-5 btn-dark"></span></td>
                <td class="col-2 expense-table-icons" onclick="toggle_edit_delete_expense(@obj.Id,true)"><span class="bi bi-x-circle-fill rounded-5 btn-dark"></span></td>
            </tr>
            weeklyTotal += @obj.Amount;
        }
        <tr class="row">
            <td>
                <hr />
            </td>
        </tr>
        <tr class=@Model.uniqueClassNameStop>
            <td class="d-flex justify-content-end">
                <bold>
                    <p class="text-secondary ">Total-Spent:  @weeklyTotal</p>
                </bold>
            </td>
        </tr>

    </tbody>
</table>

<!--FOR CONTROLLING THE ABOVE CARET FOR HIDING AND DISPLAYING A TABLE-->
<script>
    document.getElementById("@Model.uniqueIdName").addEventListener("click", function () {
        const fromTheStart_Tr = "@Model.uniqueClassNameStart";
        const toTheStop_Tr = "@Model.uniqueClassNameStop";
        HideOrDisplayExpenseTable(fromTheStart_Tr, toTheStop_Tr);
    })
</script>