@using System.Text.Json
@model DisplayExpenses
@{
    float Total = 0;
    var user = await UserManager.GetUserAsync(User);
    var currency = user.currency;
}
   
<table class="table table-striped border border-solid border-2 border-primary">
    <!--DROPDOWN CARET BUTTON, FUNCTION DEFINED BELOW IN SCRIPT-->
    @if(@Model.isWeek == true){
          <a id="@Model.uniqueIdName" class="btn btn-outline-primary 
                  offset-11 d-flex 
                  justify-content-center 
                  customCaret">
                <i class="bi bi-caret-down-square ">
                </i>
             </a>

             <!--FOR CONTROLLING THE ABOVE CARET FOR HIDING AND DISPLAYING A TABLE-->
            <script>
                document.getElementById("@Model.uniqueIdName").addEventListener("click", function () {
                    const fromTheStart_Tr = "@Model.uniqueClassNameStart";
                    const toTheStop_Tr = "@Model.uniqueClassNameStop";
                    HideOrDisplayExpenseTable(fromTheStart_Tr, toTheStop_Tr);
                })
            </script>
    }
  

    <thead class="border border-3 border-secondary">
        <tr class="row text-light">
            <td class="col-3 text-center">Transaction<i class="bi bi-tag"></i></td>
            <td class="col-3 text-center">Amount <i class="bi bi-cash"></i></td>
            <td class="col-3 text-center">Date <i class="bi bi-calendar-date"></i></td>
            <td class="col-3 text-center ">Description<i class="bi bi-chat-dots"></i></td>
        </tr>
    </thead>
    <tbody >
        <tr class=@Model.uniqueClassNameStart></tr>
        @foreach (var obj in Model.expenses)
        {
            var expense_id = "expense" + @obj.Id;
            var expense_edit_delete_id = "expense_table_edit_and_delete_elements_" + @obj.Id;
            var jsonString = JsonSerializer.Serialize(obj);
            
            <tr id="@expense_id" class="row" onclick="toggle_edit_delete_expense(@obj.Id,@expense_id)">
                <td class="col-3 text-center">@obj.category.Name</td>
                <td class="col-3 text-center ">@obj.Currency @obj.Amount </td>
                <td class="col-3 text-center">@obj.Date</td>
                <td class="col-3 text-center">@obj.Description</td>
            </tr>
            Total += @obj.Amount;
        }
      
        <tr class="row">
            <td>
                <hr />
            </td>
        </tr>
        <tr class=@Model.uniqueClassNameStop>
            <td class="d-flex justify-content-end">
                <bold>
                    <p class="text-secondary ">Total: @currency @Decimal.Round((decimal)Total,2)</p>
                </bold>
            </td>
        </tr>

    </tbody>
</table>



