@model createExpenseForm

@{
    var exp = ViewData["expenses"] as List<Expenses>;
}

 <div class="row">
        <h2 class="d-flex justify-content-center"><span class="align-middle">Week 1</span></h2>
    </div>
    
<table class="table table-striped border border-solid border-2 border-primary">
        <!--DROPDOWN CARET-->
        <a 
           onclick="HideOrDisplayExpenseTable(week1ExpensesTable)"
           class="btn btn-outline-primary 
                  offset-11 d-flex 
                  justify-content-center 
                  customCaret" >
            <i class="bi bi-caret-down-square ">
            </i>
        </a>
        <thead class="border border-3 border-secondary">
            <tr class="row text-light">
                <td class="col-3 text-center">Expense<i class="bi bi-tag"></i></td>
                <td class="col-3 text-center">Amount  <i class="bi bi-cash"></i></td>
                <td class="col-3 text-center">Date    <i class="bi bi-calendar-date"></i></td>
                <td class="col-3 text-center ">Description<i class="bi bi-chat-dots"></i></td>
            </tr>
        </thead>
        <tbody id="week1ExpensesTable" class="table-start" >
            @* @foreach(var obj in Model.expenses){
    using System.ComponentModel.DataAnnotations.Schema;
                <tr class="row">
                <td class="col-3 text-center">@obj.category.Name</td>
                <td class="col-3 text-center">$@obj.Amount </td>
                <td class="col-3 text-center">@obj.Date</td>
                <td class="col-3 text-center">@obj.Description</td>
            </tr>
            } *@
            <tr class="table-start"></tr>
            @foreach(var obj in exp){
                <tr class="row">
                <td class="col-3 text-center">@obj.category.Name</td>
                <td class="col-3 text-center">$@obj.Amount </td>
                <td class="col-3 text-center">@obj.Date</td>
                <td class="col-3 text-center">@obj.Description</td>
                </tr>
            }
            <tr class="row"><td><hr/></td></tr>
            <tr class=" table-stop"><td><button id="week1CreateExpenseButton" class="btn btn-secondary">
                <i class="bi bi-plus-circle"></i> New</button></td></tr>
        </tbody class="table-stop">
    </table>